<include file="Default:_meta" />
</head>
<body>
<div class="page-container">
    <form action="{:U('Category/saveEdit')}" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="id" value="{$list.category_id}" />
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$list.name}" placeholder="" id="" name="name" required="required" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上级分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box">
                            <select name="parent_id" class="select">
                                <option value="{$list.parent_id}">{$list.name}</option>
                                <volist name="data" id="vo">
                                <option value="{$vo.parent_id}">{$vo.name}</option>
                                </volist>
                            </select>
                        </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>简略介绍：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="description" id="" placeholder="说点什么..." value="{$list.description}" class="input-text">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" id="" name="sort_id" value="{$list.sort_id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否顶部显示：</label>
            <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box">
                            <select name="top" class="select" >
					        	<option value="1" <if condition="$list.top eq 1">selected</if>>是</option>
                                <option value="0" <if condition="$list.top eq 0">selected</if>>否</option>
                            </select>
                        </span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

<include file="Default:_footer" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
</html>